{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-no-bind": 0,
    "indent": ["error", 2, {
      "VariableDeclarator": { "var": 2, "let": 2, "const": 3 }
    }]
  }
}
